html {
    background-color: #457d34;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #fff;
    height:100%;
    box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  min-height: 100px;
  padding-bottom: 6.74rem;
  box-sizing: inherit;
}
header {
  background-color: azure;
  font-size: 2rem;
  position: fixed;
  left: 0;
  right: 0;
  padding: .5em 1em;
  box-shadow: 0 2px 4px -2px black; 
}

  .name{
    color: black;
    float:left;
  }
  .page-links {
    color: black;
    float:right;
}
  .page-links a {
    text-decoration: none;
}

main{
  width: 80%;
  margin: 0 auto;
  
  min-height: 100vh;
  padding: 100px 24px 96px;
  color: #eee;
}
section {
  border-top: 1px solid black;
}

img{
  text-decoration: none;
}
h1, h2 {
  font-weight:200;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}

header::after {
  display: block;
  clear: both;
  content: '';
}
  
  .footer {
    background-color:azure;
    padding: 30px;
    width: 100%;
    text-align: center;
    position:fixed;
    right: 0;
    left: 0;
    bottom:0;
       
}
  .social-link {
    height: 40px;
    padding: 10px;
    margin-right: 32px;
  } 
  